*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #009870;
    margin-top: 0 auto;
    padding: 5px;

}


.main-container{
    width: 100%;
    margin: 0 auto 5px;
    /* margin-right: 25px; */
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    /* align-items: center; */
    position: relative;
    gap: 40px;
}


/* .spendTable-container{
    width: 50%;
    display: flex;
    justify-content: center;
    
}
.usersTable-container{
    width: 50%;
    display: flex;
    justify-content: center;
} */


.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden; /*de lo contrario no toma el estilo de borders*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879 ;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    
}

.content-table th, 
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.content-table tbody tr:nth-last-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009870;
}

.content-table tbody tr:hover{
    color:#009870;
    /* cursor: pointer; */
}

.totalValor-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 110px;
    background-color: #009870;
    padding: 4px;
    text-align: center;
    
}

.totalValor-container h3{
    color:#ffffff;
}

.totalValor-container p{
    color:#ffffff;
    font-weight: bold;
}


@media (max-width: 474px) {

    .content-table{
        
        /* margin: 10px 0; */
        font-size: 0.81em;
        min-width: 300px;
        
             
    }

    .content-table th, 
    .content-table td{
        padding: 6px 2px;
    }

    .totalValor-container{
        
        gap: 60px;
       
        
    }
};


/* @media (min-width: 431px) {
    .main-container{
        flex-direction:column !important;
        
    }
    .content-table{
        
        margin: 10px 0; 
        font-size: 0.9em;
        max-width: 300px;
        
        
    }
}; */


/* @media (max-width: 903px) {
    .main-container{
        flex-direction:column;
        gap:5px;
    }
}; */

